<ion-content>
  <div id="card">
    <div id="card-header">
      <ion-button fill="clear" id="home" [routerLink]="['/tabs']">
        <ion-icon name="home" size="large"></ion-icon>
      </ion-button>
      <div id="logo">
        <img src="assets/images/logo-money-sa.png" alt="">
      </div>
    </div>
    <div id="card-text" *ngIf="!interfaceService._isAdmin.value">
      <span><ion-icon src="assets/icon/transaction-blue.svg"></ion-icon>Mes transactions</span>
    </div>
    <div id="admin-card-text" *ngIf="interfaceService._isAdmin.value">
      <ion-button fill="clear" (click)="onGetMyTransaction()"><ion-icon src="assets/icon/transaction-blue.svg"></ion-icon>Mes transactions</ion-button>
      <ion-button fill="clear" (click)="onGetAllTransactions()"><ion-icon src="assets/icon/toute-transaction-blue.svg"></ion-icon>Toutes les transactions</ion-button>
    </div>
  </div>
  <ion-row>
    <ion-col size="3" *ngIf="isAll">
      <ion-item lines="none" class="filter">
        <ion-select placeholder="User" (ionChange)="onSelectedUser($event)">
          <ion-select-option *ngFor="let user of users" [value]="user.id">{{user.firstname + ' ' + user.lastname}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none" class="filter">
        <ion-select placeholder="Type" (ionChange)="onSelectType($event)">
          <ion-select-option value="depot">Dépot</ion-select-option>
          <ion-select-option value="retrait">Retrit</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none" class="filter">
        <ion-datetime placeholder="Du" display-timezone="utc" (ionChange)="onStartDate($event,true)"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none" class="filter">
        <ion-datetime placeholder="Au"  display-timezone="utc" (ionChange)="onStartDate($event,false)"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <div id="all-transactions" *ngIf="isAll">
    <ion-grid>
      <ion-row>
        <ion-col>Date</ion-col>
        <ion-col>Utilisteur</ion-col>
        <ion-col>Type</ion-col>
        <ion-col>Montant</ion-col>
        <ion-col>Frais</ion-col>
      </ion-row>
      <ion-row *ngFor="let transaction of dataSource">
        <ion-col>{{transaction.depositAt | date : 'YYYY.MM.dd'}}</ion-col>
        <ion-col>{{transaction.withdrewAt ? transaction.withdrawal?.firstname + ' ' + transaction.withdrawal?.lastname : transaction.deposit?.firstname + ' ' + transaction.deposit?.lastname}}</ion-col>
        <ion-col>{{transaction.type}}</ion-col>
        <ion-col>{{transaction.amount}}</ion-col>
        <ion-col>{{transaction.fees}}</ion-col>
      </ion-row>
    </ion-grid>
    <div id="total">
      <span id="total-text">Total</span>
      <span id="total-value"> {{total}}</span>
    </div>
  </div>
  <div  id="my-transaction" *ngIf="!isAll">
    <app-my-transactions [dataSource]="dataSource" [total]="total"></app-my-transactions>
  </div>
</ion-content>
