<ion-content>
  <div id="card">
    <div id="card-header">
      <ion-button fill="clear" id="home" [routerLink]="['/tabs']">
        <ion-icon name="home" size="large"></ion-icon>
      </ion-button>
      <div id="logo">
        <img src="assets/images/logo-money-sa.png" alt="">
      </div>
    </div>
    <div id="card-text">
      <span><ion-icon src="assets/icon/commission-blue.svg"></ion-icon>Mes commissions</span>
    </div>
  </div>
  <ion-row>
    <ion-col size="3" *ngIf="isAll">
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none" class="filter">
        <ion-select placeholder="Type" (ionChange)="onSelectType($event)">
          <ion-select-option value="depot">Dépot</ion-select-option>
          <ion-select-option value="retrait">Retrait</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none" class="filter">
        <ion-datetime placeholder="Du" display-timezone="utc" (ionChange)="onStartDate($event,true)"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none" class="filter">
        <ion-datetime placeholder="Au"  display-timezone="utc" (ionChange)="onStartDate($event,false)"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <app-my-transactions [dataSource]="dataSource" [total]="totalCommission"></app-my-transactions>
</ion-content>
