
<ion-content class="padding" >
  <div class="container">
    <div id="logo-continer">
      <img src="assets/images/logo-money-sa.png" class="login-logo" alt="Logo moneySA">
    </div>
    <h4 class="container-text">Login</h4>
  </div>
  <form method="post" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="username"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessage.username">
        <ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
          <small class="error-message"> {{error.message}} </small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessage.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message"> {{error.message}} </small>
        </ng-container>
        <ng-container *ngIf="invalid">
          <small class="error-message">{{invalid}}</small>
        </ng-container>
      </div>
      <ion-item lines="none" class="ion-margin-top">
        <ion-button fill="clear" >Mot de passe oublié ?</ion-button>
      </ion-item>
    </ion-list>
    <ion-button type="submit"  expand="block" [disabled]="!form.valid" id="submit-btn">Se connecter</ion-button>
  </form>
</ion-content>
