<ion-header>
  <ion-toolbar>
    <ion-title>retrait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="retirer()">
    <ion-item>
      <ion-label position="floating">Code</ion-label>
      <ion-input  #code (ionChange)="getTransactionByCode(code)" formControlName="transfertCode"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessage.error">
      <ng-container *ngIf="transferCode.hasError(error.type) && (transferCode.dirty || transferCode.touched)">
        <small class="error-message"> {{error.message}} </small>
      </ng-container>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item button detail="false" (click)="onBenef()">
            <ion-label>Bénéficiaire</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item button detail="false" (click)="onEmit()">
            <ion-label>Émetteur</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="isBenef">
      <ion-item>
        <ion-label position="floating">N° NCI</ion-label>
        <ion-input type="number" formControlName="nicNumber"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessage.error">
        <ng-container *ngIf="nicNumber.hasError(error.type) && (nicNumber.dirty || nicNumber.touched)">
          <small class="error-message"> {{error.message}} </small>
        </ng-container>
      </div>
      <ion-item lines="none">
        <ion-label position="floating">NOM ET PRÉNOM</ion-label>
        <ion-input disabled [value]="transaction?.withdrawalClient?.fullname"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">MONTANT À RECEVOIR</ion-label>
        <ion-input disabled [value]="transaction?.amount"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">TÉLÉPHONE</ion-label>
        <ion-input disabled [value]="transaction?.withdrawalClient?.phoneNumber"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">DATE D'ENVOI</ion-label>
        <ion-input disabled [value]="transaction?.depositAt | date"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="!isBenef">
      <ion-item>
        <ion-label position="floating">N° NCI</ion-label>
        <ion-input disabled [value]="transaction?.depositClient?.nicNumber"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">NOM ET PRÉNOM</ion-label>
        <ion-input disabled [value]="transaction?.depositClient?.fullname"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">MONTANT ENVOYÉ</ion-label>
        <ion-input disabled [value]="transaction?.amount"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">TÉLÉPHONE</ion-label>
        <ion-input disabled [value]="transaction?.depositClient?.phoneNumber"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">DATE D'ENVOI</ion-label>
        <ion-input disabled [value]="transaction?.depositAt | date"></ion-input>
      </ion-item>
    </div>
    <ion-item>
      <ion-label>{{form.valid}}</ion-label>
    </ion-item>
    <div >
      <ion-button type="submit" [disabled]="!form.valid">Retirer</ion-button>
    </div>
  </form>
</ion-content>
